reset()

surface = 19
p_start = 4
p_end = 26
p_width = 8
p_depth = 9
n_start = 12
n_end = 22
n_width = 4
n_depth = 14
nc_depth = 4
center = 12

set_replace(0)
set_material("SEMI_N_TYPE")
rectangle(3, 3, 3, 28, 28, surface)

set_replace(1)
set_material("SEMI_HEAVY_P_TYPE")
rectangle(p_start, center-p_width, p_depth, p_end, center+p_width, surface)

set_material("SEMI_HEAVY_N_TYPE")
rectangle(n_start, center-n_width, n_depth, n_end, center+n_width, surface)

set_material("SEMI_HEAVY_N_TYPE")
rectangle(3, 3, 3, 28, 28, nc_depth)


Ex = 0.5*(n_start+n_end)
Ey = center

Bx = 0.5*(p_start+n_start)
By = center

Cx = 0.5*(n_start+n_end)
Cy = 0.75*28 + 0.25*(center+p_width)

top = 26

set_replace(0)
set_brush_size(1)

set_material("EMF")
set_emf_direction(-1, 0, 0)
line(Ex, Ey, top, Bx, By, top)
set_emf_direction(0, 1, 0)
line(Ex, Ey, top, Cx, Cy, top)

set_overwrite(1)

set_material("SEMI_HEAVY_N_TYPE")
line(Cx, Cy, nc_depth, Cx, Cy, surface-2)

set_overwrite(0)

set_material("METAL_HIGH_W")
line(Bx, By, surface, Bx, By, surface)
set_material("METAL_LOW_W")
line(Ex, Ey, surface, Ex, Ey, surface)
line(Cx, Cy, surface, Cx, Cy, surface)
set_material("METAL")
line(Ex, Ey, surface, Ex, Ey, top)
line(Bx, By, surface, Bx, By, top)
line(Cx, Cy, surface, Cx, Cy, top)

set_overwrite(1)
line(Ex, Ey, top, Ex, Ey, top)
line(Bx, By, top, Bx, By, top)
line(Cx, Cy, top, Cx, Cy, top)